<%# 
PARTIAL ROUTE: emails/create-account.ejs
PARTIAL DESCRIPTION: Email sent to user on creating account
LOCAL VARIABLES:
----------------------------------
- locals.backgroundColor (string): Background color to use in the email
- locals.textColor (string): Text color to use in the email
- locals.username (string): Username of user
- locals.code (string):  2FA Code
%>
<html>
  <head>
    <title>Create frankmbrown.net Account</title>
  </head>
  <body>
    <div style="background-color: <%-locals.backgroundColor%>; height: 100%; padding: 10px;">
      <p style="color: <%-locals.textColor%>; font-size: 24px; font-family: arial;">Hey <%=locals.username%>,</p>
      <p style="color: white; font-size: 18px; font-family: arial;">
          Enter the two factor authentication code below to create your account for frankmbrown.net. 
      </p>
      <p style="color: <%-locals.textColor%>; font-size: 30px; font-family: arial; text-align:center;">
        <%=locals.code%>
      </p>
      <p  style="color: <%-locals.textColor%>; font-size: 18px; font-family: arial;">
      Thanks,
      </p>
      <p  style="color: <%-locals.textColor%>; font-size: 18px; font-family: arial;">
      Frank M Brown
      </p>
    </div>
  </body>
</html>
