<%# 
PARTIAL ROUTE: pages/design-system/accordions.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.subPageRequest
%>
<%if(locals.fullPageRequest||locals.pageRequest||locals.subPageRequest){%>
    
    <%if(Boolean(locals.fullPageRequest||locals.pageRequest)&&!!!locals.subPageRequest){%>
       <%-include('DESIGN_SYSTEM_HEADER.ejs');%>
    <%}%>

<%if(locals.fullPageRequest||locals.pageRequest){%>
<div class="mt-2" id="subpage">
    <%-include('accordions-main.ejs')%> 
    <%-include('../../partials/pagePartial')%>
</div>
<%}else if(locals.subPageRequest){%>
    <%-include('accordions-main.ejs')%> 
    <%-include('../../partials/pagePartial')%>
<%}%>
    <%if(Boolean(locals.fullPageRequest||locals.pageRequest)&&!!!locals.subPageRequest){%>
       <%-include('DESIGN_SYSTEM_FOOTER.ejs')%>
    <%}%>

<%}%>