<%# 
locals.id = annotation id (int)

%>
<div class="dialog-wrapper" id="annotations-dialog-<%-locals.id%>" data-remove-close data-close-backdrop data-esc>
  <div class="dialog large" data-click-capture style="background-color: var(--background); border: 3px solid var(--text-primary);">
    <div class="dialog-body" style="background-color: var(--background);">
        <div style="position: sticky; top: 4px; background-color: var(--background); z-index: 3; opacity: 1; padding-top: 4px; padding-bottom: 4px;">
            <%-locals.annotation%>
            <div class="flex-row justify-center t-primary htmx-indicator" id="post-annot-comm-hjdwev" role="progressbar" aria-busy="false" aria-label="Posting Annotation Comment">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <form style="padding-bottom: 3px;" class="mt-2" hx-post="/annotations/<%-locals.id%>" hx-indicator="#post-annot-comm-hjdwev" hx-swap="outerHTML" hx-target="this" hx-trigger="submit">
                <div class="input-group block mt-1" data-hover="false" data-focus="false" data-error="false" data-blurred="false"> 
                  <label for="annotation-comment">Annotation Comment:</label>
                  <div class="mt-1 text-input block medium disabled">
                      <textarea 
                      name="annotation-comment" 
                      id="annotation-comment-text-<%-locals.id%>"
                      placeholder="Enter your comment for this annotation..." 
                      rows="3"
                      style="resize: vertical!important;min-height: 50px; max-height: 300px;" 
                      maxlength="2000" 
                      minlength="1" 
                      spellcheck="true"
                      autocomplete="off"
                      autocapitalize="off"
                      <%-!!!locals.logged_in?'disabled':''%>
                      ><%-!!!locals.logged_in?'You must be logged in to add an annotation comment.':''%></textarea>
                  </div>
                </div>
                <div class="flex-row justify-between align-center mt-3">
                    <input role="button" value="RESET"  type="reset" aria-label="Reset Form"></input>
                    <button <%-!!!locals.logged_in?'disabled':''%> type="submit" aria-label="Submit" class="success filled icon-text medium">
                        <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Send"><path d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path></svg>
                        SUBMIT
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-2" style="padding-bottom: 4px;">
          <%-locals.comments_html%>
        </div>

    </div>
    <div class="dialog-footer" role="toolbar">
      <button class="filled error small close-dialog" type="button" aria-label="Close Dialog">
        CLOSE DIALOG
      </button>
    </div>
  </div>
  
<script nonce="<%=locals.jsNonce%>">
  (() => {
    const scripEl = document.currentScript;
    if (scripEl) {
      const d = scripEl.closest('dialog');
      if (d) {
        document.dispatchEvent(new CustomEvent("OPEN_DIALOG",{ detail: { dialog: d }}));
      }
    }
  })()
</script>
</div>
