<%# 
PARTIAL ROUTE: pages/account/account.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.pageObj
- locals.settings
- locals.desktop!
- locals.jsNonce
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  <h1 class="page-title">
    Welcome <%=locals.pageObj.username%>
  </h1>

  <section id="account-information">
    <h2 class="bb-thick h2">
      <a href="#account-information" class="same-page fw-regular h5" style="font-size:inherit;">Account Information</a>
    </h2>

    <div class="flex-row justify-start gap-2 align-center mt-2">
      <span class="bold">Username:</span> <span><%=locals.pageObj.username%></span> <button hx-get="/account/username" hx-target="closest div" hx-swap="outerHTML" type="button" class="icon-text small warning outlined"><svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Edit"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg> EDIT USERNAME</button>
    </div>
    <div class="flex-row justify-start gap-2 align-center mt-2">
      <button class="small icon-text warning outlined" type="button"  hx-get="/account/password" hx-target="closest div" hx-swap="outerHTML">
        <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Edit"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg>
        EDIT PASSWORD
      </button>
    </div>
    <div class="flex-row justify-start gap-2 align-center mt-2">
      <span class="bold">Email:</span> <span><%=locals.pageObj.email%></span>
    </div>
    <div class="mt-2 flex-row w-100 justify-start">
      <span class="bold">Date Created:</span>
      <time data-date-format="MM/DD/YYYY" datetime="<%=locals.pageObj.dateCreated%>" style="margin-left: 8px;">
        <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="CalendarToday">
          <path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z">
          </path>
        </svg>
        <span></span>
      </time>
    </div>
    
    <%-locals.imageInput%>

    <input type="text" hidden="hidden" id="profile-picture-text" name="profile-picture-text" hx-trigger="change delay:2s" data-loading="Updating Profile Picture..." hx-post="/account/profile-picture" value="<%=locals.pageObj.pp%>">


    <div data-edit-desc="">
      <div class="flex-row justify-between align-center mt-2">
        <span class="bold">User Description:</span> 
        <button class="small icon-text warning outlined" type="button" hx-get="/account/description" hx-target="closest div[data-edit-desc]" hx-swap="outerHTML" >
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Edit"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg>
          EDIT DESCRIPTION
        </button>
      </div>
      <div data-rich-text-editor class="lexical-wrapper" data-editable="false">
        <%-locals.pageObj.html%>
      </div>
    </div>

    
  </section>  

  <div class="dialog-wrapper" id="preview-image-dialog" data-close-backdrop data-esc hidden style="display: none;">
    <div class="dialog large" data-click-capture>
      <div class="dialog-header">
        <p class="grow-1 flex-row h3 bold">Preview Image</p>
        
          <kbd class="inline" data-pelem="#close-dialog-esc-preview-image-dialog" aria-describedby="close-dialog-esc-preview-image-dialog" data-mouse data-popover>ESC</kbd>
          <div id="close-dialog-esc-preview-image-dialog" role="tooltip" class="tooltip body2" data-placement="bottom">
            Press the Escape key to Close the Dialog
          </div>
        
        <button class="icon medium close-dialog" type="button" aria-label="Close Dialog">
          <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Close"><path d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
        </button>
      </div>
      <div class="dialog-body">
        <div class="flex-row justify-center mt-2">
          <img id="profile-picture-preview-image" alt="Profile Picture Preview" style="width:200px;height:200px;border-radius: 50%; object-fit: 50% 50%; object-fit: none;" width="200" height="200" data-text="" />
        </div>
      </div>
      <div class="dialog-footer" role="toolbar">
        <button class="filled error small close-dialog" type="button" aria-label="Close Dialog">
          CLOSE DIALOG
        </button>
      </div>
    </div>
  </div>

  <script nonce="<%=locals.jsNonce%>" src="/static/js/constant/profile-picture.js" type="module"></script>

  <%-include('../../partials/pagePartial')%>
<%}%>



