<%# 
PARTIAL ROUTE: pages/posts/markdown-note.ejs
PARTIAL DESCRIPTION: Description...
LOCAL VARIABLES:
----------------------------------
- locals.fullPageRequest
- locals.pageRequest
- locals.pageObj
- locals.auth>
%>
<%if(locals.fullPageRequest||locals.pageRequest){%>
  
  <h1 class="page-title"><%=locals.pageObj.title%></h1>
  <p class="mt-2">
    <%=locals.pageObj.description%>
  </p>
  <div class="mt-1 flex-row justify-end">
    <a href="<%=locals.path_to_download%>" download="<%=locals.filename%>"  class="button icon-text medium filled info">
      <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Download"><path d="M5 20h14v-2H5v2zM19 9h-4V3H9v6H5l7 7 7-7z"></path></svg>
      DOWNLOAD MARKDOWN
    </a>
  </div>
  <div class="flex-row justify-between align-center bb-main p-md mt-1" style="margin-bottom: 0.75rem; border-bottom-width: 3px;">
    <time  data-popover data-pelem="#date-created-tool" data-mouse data-date-format="MM/DD/YYYY" datetime="<%-locals.pageObj.date_created%>">
      <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="CalendarToday">
        <path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z">
        </path>
      </svg>
      <span></span>
    </time>
    <div class="flex-row gap-3 align-center">
      <time  data-popover data-pelem="#last-edit-tool" data-mouse data-date-format="MM/DD/YYYY" datetime="<%-locals.pageObj.last_edited%>">
        <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="Create"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg>
        <span></span>
      </time>
    </div>
  </div>
  <%-include('../../partials/share-like-comment')%>
  
  <%-locals.pageObj.html%>
  
  <%-include('../../partials/comment')%>
  <%-include('../../partials/pagePartial')%>
<%}%>