<div style="border: 2px solid var(--divider);" class="p-md mt-1">
    <div class="flex-row justify-start alogn-center gap-2">
        <img src="<%=locals.pp%>" alt=<%=locals.username%>" style="width:20px;height:20px; border-radius: 50%; object-fit: cover; margin: 0px;" width="20" height="20" data-text="Profile Picture for User">
        <span class="h6 bold">
            <%=locals.username%>
        </span>
        <span style="margin-left: 8px;" class="caption t-tsecondary">
            •
        </span>
        <span style="margin-left: 4px;" class="caption t-tsecondary">
            <%=locals.time_ago%>
        </span>
    </div>
    <p class="mt-1">
        <%=locals.comment%>
    </p>
</div>