<%# 
PARTIAL ROUTE: partials/individual-comment
PARTIAL DESCRIPTION: Rendering an individual comment for an article
LOCAL VARIABLES:
----------------------------------
- locals.logged_in (boolean): Is the user logged in?
- locals.comment_id (string): The uuid of the comment
- locals.html (string): The HTML of the comment 
- locals.user_liked (boolean): Has the user liked the article?
- locals.id (number): The id of the comment
- locals.like_count (number): The like count of the comment
- locals.comment_count (number): The number of direct descendant comments on comment 
- locals.level (number): The level of comment (0= top level)
- locals.path (number[]): The path of the comment [parent_id_1, parent_id_2, ...] 
- locals.rating (number[]): The path of the 
- locals.has_additional_comments: boolean (Whether or not this has additional comments)
- locals.child_html: (string) Children html 
%>
<div data-comment-tree-wrapper id="<%="comment-".concat(locals.id)%>" data-comment-id="<%=locals.id%>" data-hidden="false" class="mt-2" style="padding: 2px; display: flex; flex-direction: row; width: 100%; max-width: 100%; overflow-x: hidden;">
    
    <div style="width: 30px; display: flex; flex-direction: column; align-items: center; flex-shrink: 0;">
        <button hidden type="button" class="show-comment" aria-label="Show Comment">
            <svg viewBox="0 0 448 512" title="plus" focusable="false" inert tabindex="-1"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg>
        </button>
        <img loading="lazy" data-profile-picture src="<%=locals.pp%>" alt="<%=locals.username%>" style="width: 30px;height:30px; border-radius:50%;object-fit:cover; margin: 0px;" width="30" height="30" />
        <div tabindex="1" class="grow-1 comment-sidebar" style="min-width: 0px;" role="button" aria-label="Hide Comment"></div>
    </div>
    <div class="grow-1" style="min-width: 0px; overflow-y: hidden; margin-left: -5px;">
        <div style="padding-left: 10px; height: 30px;" class="flex-row justify-start align-center">
            <a class="h5 bold no-show-link" data-username hx-get="/users/<%=locals.user_id%>/<%=locals.username%>" href="/users/<%=locals.user_id%>/<%=locals.username%>" hx-push-url="true" hx-target="#PAGE" hx-indicator="#page-transition-progress">
                <%=locals.username%>
            </a>   
            <span style="margin-left: 8px;" class="body2 t-tsecondary">
                &#x2022;
            </span>
            <span style="margin-left: 8px;" class="body2 t-tsecondary">
                <%=locals.time_ago%>
            </span>
            <div class="grow-1 hide-comment-summary"></div>
            <button type="button" class="icon small transparent" aria-label="Take Actions Regarding User" data-popover data-pelem="#take-actions-on-user" data-click data-force-close>
                <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="MoreHoriz"><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
            </button>
        </div>
        <div role="tooltip" class="tooltip body2" id="<%="comment-rating-".concat(locals.id).concat("-tooltip")%>">
            <span class="bold">Comment Rating:</span> <%=locals.rating%>
        </div>
        <div class="comment-body">
            <div class="lexical-wrapper mt-1" data-max-height="<%-locals.desktop?300:250%>" <%-locals.desktop?"style: max-height:300px;":"style: max-height:250px;"%> data-rich-text-editor id="id_<%-locals.comment_id%>" data-editable="false" data-type="comment"><%-locals.html%></div>
      
        <div class="flex-row justify-end mt-1">
            <button type="button" class="icon small text" aria-label="Comment Rating" style="margin-right: 6px;" data-popover data-pelem="#<%="comment-rating-".concat(locals.id).concat("-tooltip")%>" data-click>
                <svg focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="InfoOutlined"><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></svg>
            </button>
            <button data-share-button type="button" class="icon small text" aria-label="Share Comment" style="margin-right: 6px;" data-popover data-pelem="#share-selection-comment-menu" data-force-close="" data-click>
                <svg viewBox="0 0 512 512" title="share" focusable="false" inert tabindex="-1"><path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"></path></svg>
            </button>
            <span class="flex-row gap-1" style="margin-right: 6px;">
            <%if(locals.logged_in){%>
                
                <button 
                type="button" 
                class="icon small text" 
                aria-label="Comment on Comment"  
                hx-get="/comment/add/<%-locals.comment_id%>" 
                hx-target="#<%-"add-comment-".concat(locals.comment_id)%>" 
                
                hx-swap="innerHTML">
                    <svg viewBox="0 0 512 512" title="comment" focusable="false" inert tabindex="-1"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
                </button>
            <%}else{%>
                <button type="button" class="icon small text" aria-label="Comment on Comment"   data-dialog="login-dialog" data-text="You must be logged in to comment!">
                    <svg viewBox="0 0 512 512" title="comment" focusable="false" inert tabindex="-1"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
                </button>
            <%}%>
            <span style="position:relative; align-content: center;" class="fw-regular body1">
                <%=locals.comment_count%>
            </span>
        </span>
            <span class="flex-row gap-1" style="margin-right: 6px;">
                <%if(!!!locals.logged_in){%>
                    <button type="button" class="icon small text primary" data-dialog="login-dialog" data-text="You must be logged in to like this article comment!">
                    <%if(locals.user_liked){%>
                        <svg viewBox="0 0 512 512" title="heart" focusable="false" inert="" tabindex="-1"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"></path></svg>
                    <%}else{%>
                        <svg viewBox="0 0 512 512" title="heart" focusable="false" inert="" tabindex="-1"><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"></path></svg>
                    <%}%>
                    </button>
                <%} else {%>
                    <button type="button" class="icon small text primary" hx-get="/comment/like/<%-locals.id%>" hx-target="closest span" hx-trigger="click">
                    <%if(locals.user_liked){%>
                        <svg viewBox="0 0 512 512" title="heart" focusable="false" inert="" tabindex="-1"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"></path></svg>
                    <%}else{%>
                        <svg viewBox="0 0 512 512" title="heart" focusable="false" inert="" tabindex="-1"><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"></path></svg>
                    <%}%>
                    </button>
                <%}%>
                <span style="position:relative; align-content: center;" class="fw-regular body1">
                <%=locals.like_count%>
                </span>
            </span>
            <span class="flex-row align-center gap-1" style="margin-right: 6px;">
                <svg style="width: 1.5rem; height: 1.5rem; fill: var(--text-primary);" focusable="false" inert viewBox="0 0 24 24" tabindex="-1" title="AnalyticsOutlined"><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z"></path><path d="M7 12h2v5H7zm8-5h2v10h-2zm-4 7h2v3h-2zm0-4h2v2h-2z"></path></svg>
                <span aria-label="Comment Views">
                    <%=locals.view_count%>
                </span>
            </span>
        </div>
        <div id="<%-"add-comment-".concat(locals.comment_id)%>" class="w-100 block" style="padding-left:0px;"></div>

        <div data-child-comments>
            <%-locals.child_html%>
            <%if(locals.has_additional_comments){%>
                <div id="<%=locals.addition_comments_ind%>" class="flex-row justify-center t-info htmx-indicator" role="progressbar" aria-busy="false" aria-label="Getting More Child Comments">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="mt-2" style="padding-left: 15px;">
                    <button type="button" <%-locals.additional_comments_info%> class="text primary outlined" aria-label="Load More Comments">
                        LOAD MORE
                    </button>
                </div>
            <%}%>
        </div>
        </div>
    </div>
</div>

